<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title></title>
</head>
<body hidden>
  <div class="wrap">
    <div class="header">
      <span class="header__id">Id</span>
      <span class="header__name">Name</span>
      <span class="header__ping">Ping</span>
    </div>
    <div class="container">
    <table class="players">
      <tr class="template row" hidden>
        <td class="id"></td>
        <td class="name"></td>
        <td class="ping"></td>
      </tr>
    </table>
    </div>
  </div>
  <div class="dropdown" hidden>
    <ul class="dropdown__list"></ul>
  </div>
  <script src="js/main.js"></script>
</body>
</html>