$main-color: #6c7ae0;
$primary-color: #ececff;

@import 'fonts';
@import 'interface';
@import 'dropdown';

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 40%;
  z-index: 2;
  background-color: $main-color;
  color: white;
  & span {
    font-weight: normal;
    text-align: center;
    padding: 10px 0;
    font-size: 1.4rem;
  }
  &__id {
    width: 20%;
  }
  &__name {
    width: 60%;
  }
  &__ping {
    width: calc(20% + 10px);
  }
}

.container {
  width: 40%;
  max-height: 70%;
  overflow: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  background-color: white;
  border-bottom-right-radius: 10px;
  border-left: 1px solid #ddd;
}

.container::-webkit-scrollbar-thumb {
  border-bottom-right-radius: 10px;
  background-color: $main-color;
}

.players {
  width: 100%;
  & td {
    text-align: center;
    font-size: 1.25rem;
    padding: 5px 0;
    color: #666666;
  }
  & .id {
    width: 20%;
  }
  & .name {
    width: 60%;
  }
  & .ping {
    width: 20%;
  }
  border-collapse: collapse;
}

.row {
  background-color: white;
  &:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
  border-bottom: 1px solid #ddd;
}